.blogDetailImageHolder{
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
}

.commentThumb{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
}

.commentThumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}